/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	max-width: 600px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
<width>: Use a value from 62.5 to 100

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */


/* Start Styles */

// Typography
$font-primary: "Noto Sans", sans-serif;
$font-accent: "Autour One", Verdana, Tahoma, sans-serif;
$font-default: 400;

// Colors
// $text: snow;
$text: #febd0f;
$offwhite: #f8f8ea;
$barelyblue: #d4e6f2;
$lilac: #ccc1d5;
$greyblue: #a3b4dc;
$goldochre: #febd0f;
$grapefruit: #f26d79;
$dkgrapefruit: #cc6666;
$purple: #6d69ac;
$bg: #19194d;

* {
	font-optical-sizing: auto;
	font-weight: $font-default;
	vertical-align: baseline;
	color: $text;
	background-color: $bg;
}

main {
	margin: 0 16px;
	padding: 16px;
	background-color: $purple;
	border: 1px solid $dkgrapefruit;
	border-radius: 3px;
}

header {
	background-color: grey;
}

nav {
	background-color: $grapefruit;
}

h1 {
	font-family: $font-accent;
	font-size: 45px;
	color: $barelyblue;
	// background-color: $bg;
}

hr {
	background-color: $barelyblue;
	border: none;
	height: 2px;
}

h2 {
	margin: 20px 0;
	font-family: $font-accent;
	font-size: x-large;
	color: $goldochre;
	text-transform: uppercase;
}

section {
	display: flex;
	flex-flow: row wrap;
}

.color-test {
	height: 30px;
	width: 30px;
	margin-left: 16px;
	border-radius: 3px;
}

#a {
	background: $offwhite;
}
#b {
	background: $barelyblue;
}
#c {
	background: $lilac;
}
#d {
	background: $greyblue;
}
#e {
	background: $goldochre;
}
#f {
	background: $grapefruit;
}
#g {
	background: $dkgrapefruit;
}
#h {
	background: $purple;
}

.auth {
	margin: 16px 0;
	// background-color: hotpink;
	border: 1px solid $goldochre;
}

form {
	background-color: $greyblue;
	display: flex;
	flex-flow: column nowrap;
}

input {
	background-color: $offwhite;
	border-radius: 3px;
}

// Links & Buttons
a {
	color: $greyblue;
	text-decoration: none;
	cursor: pointer;
  }
  
a:hover {
color: $grapefruit;
}

#link {
	margin-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-primary;
	font-size: medium;
	color: cornflowerblue;
}

// Footer
footer {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer > p {
	// width: 85%;
	font-family: $font-primary;
	font-size: small;
	line-height: normal;
	text-align: center;
  }

/* Breakpoints */
// Tablet
@media only screen and (min-width: 600px) {
	body {
		max-width: 990px;
	}
	main {
		background-color: snow;
	}
}

// Desktop
@media only screen and (min-width: 992px) {
	main {
		background-color: darkgreen;
	}
}
