/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
<width>: Use a value from 62.5 to 100

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */


/* Start Styles */

// Typography
$font-primary: "Noto Sans", sans-serif;
$font-accent: "Autour One", Verdana, Tahoma, sans-serif;
$font-default: 400;

// Colors
$text: snow;
// $text-accent: ;
// $color-primary: ;
// $color-secondary: ;
// $color-accent: ;
$bg: #19194d;
$test-4: #f8f8ea;
$test-1: #febd0f;
$test-3: #f26d79;
$test-8: #cc6666;
$test-2: #ccc1d5;
$test-5: #a3b4dc;
$test-6: #6d69ac;
$test-7: #d4e6f2;

* {
	font-optical-sizing: auto;
	font-weight: $font-default;
	vertical-align: baseline;
	color: $text;
	background-color: $bg;
}

hr {
	background-color: $test-1;
	border: none;
	height: 2px;
}

.main {
	margin: 16px;
	padding: 16px;
	border: 1px solid $test-8;
	border-radius: 3px;

}

h1 {
	font-family: $font-accent;
	font-size: 45px;
	color: $test-7;
}

ul, li {
	font-family: $font-primary;
	line-height: 1.5;
}

h2 {
	margin: 20px 0;
	font-family: $font-accent;
	font-size: x-large;
	color: $test-4;
	text-transform: uppercase;
}

section {
	display: flex;
	flex-flow: row wrap;
}

.color-test {
	height: 30px;
	width: 30px;
	margin-left: 16px;
	border-radius: 3px;
}

#a {
	background: $test-4
}
#b {
	background: $test-1
}
#c {
	background: $test-3
}
#d {
	background: $test-8
}
#e {
	background: $test-2
}
#f {
	background: $test-5
}
#g {
	background: $test-6
}
#h {
	background: $test-7
}

.tester {
	margin: 16px 0;
	padding: 16px;
	display: block;
}
// Links & Buttons
a {
	color: $test-7;
	text-decoration: none;
	cursor: pointer;
  }
  
  a:hover {
	color: $test-3;
  }

#link {
	margin-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-primary;
	font-size: medium;
	color: $test-5;
}

// Footer
footer {
	margin: 3em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer > p {
	// width: 85%;
	font-family: $font-primary;
	font-size: small;
	line-height: normal;
	text-align: center;
  }

// Breakpoints
// Tablet

// Desktop