/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	max-width: 600px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
<weight>: Use a value from 100 to 900
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */

/* Start Styles */
// Typography
$font-primary: "Noto Sans", sans-serif;
$font-accent: "Autour One", Verdana, Tahoma, sans-serif;
$font-default: 400;

// Colors
$text: snow;
$offwhite: #f8f8ea;
$barelyblue: #d4e6f2;
$lilac: #ccc1d5;
$greyblue: #a3b4dc;
$goldochre: #febd0f;
$grapefruit: #f26d79;
$dkgrapefruit: #cc6666;
$purple: #6d69ac;
$bg: #19194d;
$black: #000;

* {
	font-optical-sizing: auto;
	font-weight: $font-default;
	vertical-align: baseline;
	color: $text;
	background-color: $bg;
}
main {
	margin: 0 16px;
	padding: 16px;
	border-radius: 3px;
}

// Links & Buttons
a {
	color: $greyblue;
	text-decoration: none;
	cursor: pointer;
} 
a:hover {
	color: $dkgrapefruit;
	text-decoration: underline;
	cursor: pointer;
}
#link {
	margin-right: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-primary;
	font-size: small;
	color: $greyblue ;
	cursor: pointer;
}
#link.nav-link:hover {
	text-decoration: underline;
}
#link.nav-link.active {
	color: $grapefruit;
}

.error-nav {
	margin: 16px 16px 0 0;
	height: 2em;
	width: 10em;
	font-weight: 700;
	text-transform: uppercase;
	background-color: $greyblue;
	color: $bg;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.nav-error {
	font-family: $font-accent;
	color: $dkgrapefruit;
}
.non-route {
	margin: 16px;
}
div .entries-error-message {
	margin: 16px 0;
	font-size: medium;
	color: $grapefruit;
	font-family: $font-primary;
}
nav {
	margin-top: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
h1 {
	margin-bottom: 6px;
	font-family: $font-accent;
	font-size: 45px;
	color: $barelyblue;
}
h2 {
	margin: 36px 0 16px 0;
	font-family: $font-primary;
	font-size: x-large;
	color: $lilac;
	text-transform: uppercase;
}
section {
	display: flex;
	flex-flow: row nowrap;
}

.color-bar {
	height: 1px;
	width: 13%;
}
#a {
	background: $offwhite;
}
#b {
	background: $barelyblue;
}
#c {
	background: $lilac;
}
#d {
	background: $greyblue;
}
#e {
	background: $goldochre;
}
#f {
	background: $grapefruit;
}
#g {
	background: $dkgrapefruit;
}
#h {
	background: $purple;
}

// Auth
.auth {
	margin: 16px 0;
}
.form {
	font-family: $font-primary;
	color: $bg;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.auth > h2 {
	margin: 36px 0 16px 0;
	font-family: $font-primary;
	text-align: center;
	color: $lilac;
	text-transform: none;
}
.input {
	margin-bottom: 16px;
	padding: 3px 6px;
	width: 16em;
	height: 1.75em;
	color: $black;
	background-color: $offwhite;
	border-radius: 3px;
	border: none;
}
.submit, .change-form{
	margin-bottom: 16px;
	height: 2em;
	width: 17em;
	text-transform: uppercase;
	font-weight: 700;
	color: $bg;
	background-color: $greyblue;
	border: none;
	border-radius: 3px;
}
.auth .error-message {
	margin-bottom: 16px;
}
.error-message {
	font-size: small;
	color: $grapefruit;
	font-family: $font-primary;
}

// New Entry
#new {
	width: 100%;
	margin-top: 16px;
	font-family: $font-primary;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
#new > h2 {
	color: $lilac;
	text-transform: none;
}
.new-entry {
	display: flex;
	flex-flow: column nowrap;
}
.new-entry > input, textarea, select, option {
	margin: 0 0 16px 0;
	padding: 3px 6px;
	height: 1.75em;
	border-radius: 3px;
	border: none;
	background-color: $offwhite;
	color: $black;
}
.new-entry > label {
	width: 30em;
	margin-bottom: 3px;
	font-size: 12px;
	text-transform: uppercase;
	resize: none;
}
#title {
	min-width: 20em;
	max-width: 22em;
}
#date {
	width: 8em;
}
select, option {
	width: 15em;
}
textarea {
	min-width: 20em;
	max-width: 29em;
	height: 25em;
	overflow: auto;
	resize: none;
	font-family: $font-primary;
}
.record {
	height: 2em;
	width: 100%;
	color: $bg;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: none;
	background-color: $goldochre;
}
.record:hover {
	background-color: $purple;
}
//! talks to isRecording...
.record:active {
	background-color: $dkgrapefruit;
}
#submit-new {
	margin-bottom: 16px;
	height: 2em;
	width: 16em;
	font-weight: 700;
	text-transform: uppercase;
	background-color: $greyblue;
}

// View Entries
.all-entries-wrapper {
	font-family: $font-primary;
}
.all-entries-wrapper > h2 {
	margin-top: 36px;
	color: $lilac;
	text-transform: none;
}
.all-entries-wrapper > a {
	text-decoration: none;
	line-height: normal;
}
.entry-link > p {
	color: $barelyblue;
	margin-bottom: 16px;
	font-weight: 300;
	display: inline-grid;
}
.entry-link > p:hover, .entry-link > p > span:hover {
	color: $goldochre;
}
.entry-link > p > span {
	color: $greyblue;
	font-size: smaller;
	letter-spacing: .03em;
}
.all-entries {
	margin: 16px 0;
	height: 2em;
	width: 5em;
	color: $bg;
	text-transform: uppercase;
	font-weight: 700;
	background-color: $barelyblue;
	border-radius: 3px;
	border: none;
}

// Categories
.learn {
	text-transform: none;
}
#category-container {
    display: flex;
    width: 95%;
	padding: 10px;
	font-family: $font-primary;
}
#category-name {
	width: 14%;
	padding-top: 5px;
	font-size: small;
	text-transform: uppercase;
}
#category-name > h3 {
	color: $barelyblue;
}

#category-descr {
    width: 86%;
	margin-left: 16px;
	font-weight: 300;
	line-height: 1.6;
}
#category-descr > p {
	// color: $lilac;
	letter-spacing: .01em;
}

// Footer
footer {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer > p {
	font-family: $font-primary;
	font-size: x-small;
	line-height: normal;
	text-align: center;
  }

/* Breakpoints */
//! inc styles for text area width in new entry
// Tablet
@media only screen and (min-width: 600px) {
	main {
		width: 85vw;
	}
	nav {
		max-width: 500px;
	}
	textarea {
		width: 50em;
	}
}

// Desktop
@media only screen and (min-width: 992px) {
	main {
		width: 85vw;
	}
	nav {
		max-width: 500px;
	}
	textarea {
		width: 60em;
	}
}
