[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = '*'
flask_bcrypt = '*'
flask_migrate = '*'
flask_restful = '*'
flask_marshmallow = '*'
marshmallow-sqlalchemy = '*'
flask_sqlalchemy = '*'
flask_session = '*'
sqlalchemy = '*'
ipdb = '*'


[dev-packages]

[requires]
python_version = "3.8"
